table {
	margin-bottom: 1rem;
	margin-top: 1rem;
	& th, td {
		border: 1px solid;
		border-collapse: collapse;
		border-color: #dfdfdf;
		padding: .5rem 1rem;
	}
}

h1,h2,h3,h4 {
	margin: 1rem 0;
}

pre {
	border-radius: 0.5rem;
	margin: 1rem 0;
}

ul, li {
    list-style: none;
}

#daftar-isi {
	margin: 1rem 0;
	& a {
		text-decoration: none;
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
}


