:root {
    --main: #fdfefe;
    --main-permanent: #fdfefe;
    --secondary: #242626;
    --brown: #515143;
    --link: #EE6C4D;
    --hovercolor: #E0FBFC;
    --hover2: #98C1D9;
    --bg2: #003349;
    color-scheme: light;

    --w1: #003349;
    --w2: #246C7E;
    --w3: #3594A5;
    --w4: #84D0CA;
    --w5: #FAFAEF;
}

.dark {
    --secondary: #fdfefe;
    --main: #242626;
    --link: #EE6C4D;
    --brown: #515143;
    --orange: #ec8232;
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--main);
    color: var(--secondary);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 0.5rem 5%;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--w1);
    color: var(--w5);

    &>.brand {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        & nav>ul {
            padding: 0;
            margin: 0;

            &>li {
                display: inline-block;

                &>a {
                    padding: 0 1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        color: var(--link);
                    }
                }
            }
        }

        .dark-mode {
            width: 30px;
            height: 30px;
            display: inline-block;
            box-sizing: border-box;
            padding: 0;
            border: none;
            background: none;
            color: inherit;
            cursor: pointer;
            margin: 1rem;

            &:hover {
                color: var(--link);
            }
        }

    }
}

.card {
    border: 2px solid var(--secondary);
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 1rem 20%;
    box-sizing: border-box;

    & .title {
        font-weight: bold;
        text-decoration: underline;
        margin: 0.3rem;
    }

    & p {
        margin: 0.2rem 0;
    }
}

#about {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

    & h2 {
        margin: 0;
        font-size: 3rem;
    }

    & button {
        font-size: 1rem;
        padding: 0.8rem 1.3rem;
        border-radius: 10px;
        border: none;
        color: var(--w5);
        background-color: var(--w1);
        margin: 0.3rem auto;

        &:hover {
            /* color: var(--w2); */
            background-color: var(--w2);
            cursor: pointer;
        }
    }
}

& .page {
    /* min-height: 500px; */
    height: 50dvh;
    box-sizing: border-box;
    /* padding-top: 80px; */
}

main {
    text-align: center;
    margin: 0 auto;

    & section:nth-child(even) {
        background-color: var(--bg2);
        color: var(--main-permanent);

        &>.card {
            border-color: var(--main-permanent);
        }
    }

    #api {
        color: var(--main-permanent);

        &>.card {
            border-color: var(--main-permanent);
        }
    }

    #donate {
        color: var(--main-permanent);

        & .card {
            border-color: var(--main-permanent);

            & a {
                color: var(--main-permanent);
                text-decoration: none;

                &:hover {
                    color: var(--link);
                }
            }
        }
    }

    #faq {}
}

footer {
    text-align: center;
    /* min-height: 100px; */
    margin: 0 auto;
    /* background-color: var(--bg2); */
    /* color: var(--main-permanent); */
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}

main {
    display: flex;
}

.about {
    border: solid #eaeaea 1px;
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
}

button {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.2rem;
    border: none;
    color: var(--w5);
    background-color: var(--w1);
    margin: 0.3rem auto;

    &:hover {
        /* color: var(--w2); */
        background-color: var(--w2);
        cursor: pointer;
    }
}

html, body {
    min-height: 100vdh;
    height: 100vh;
}

header {
    height: 10%;
}

main {
    height: 90%;
}