:root {
    --main: #fdfefe;
    --main-permanent: #fdfefe;
    --secondary: #242626;
    --brown: #515143;
    --link: #EE6C4D;
    --hovercolor: #E0FBFC;
    --hover2: #98C1D9;
    --bg2: #003349;
    color-scheme: light;

    --w1: #003349;
    --w2: #246C7E;
    --w3: #3594A5;
    --w4: #84D0CA;
    --w5: #FAFAEF;
}

.dark {
    --secondary: #fdfefe;
    --main: #242626;
    --link: #EE6C4D;
    --brown: #515143;
    --orange: #ec8232;
    color-scheme: dark;
}

html, body {
    min-height: 100vdh;
    height: 100vh;
    color: #fafafa;
    font-family: consolas, courier, monospace;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
}

.new-card {
    border: 1px solid #fafafa;
    width: 500px;
    border-radius: .2rem;
    padding: 1rem;
    margin: auto;
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: .2rem .2rem;
}
.link:hover {
    background-color: #bababa;
    color: black;
}
.footer {
    font-size: .8rem;
    margin: 2rem 0 0 0;
    text-align: center;
}

#element {
    font-size: 1.5rem;
    font-weight: bold;
}

.option {
    margin: 1rem 0;
}

@media (max-width: 768px) {
  .new-card {
      border: none;
  }
}
